body {
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
    font-family: 'Roboto' , sans-serif;
}

/*--loader spiner accueil--*/

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #99E2D0;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  .loader-wrapper.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
  } 
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

.title {
    font-weight: bold;
    font-size: 23px;
}
.logo-main { 
    display: flex;
    justify-content: center;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 65px;
    
}

.logo-main-accueil{
    display: flex;
    justify-content: center;
    background: #fff;
    padding-top: 25px;
    padding-bottom: 15px;
    

}

.logo-main img {
    height: 29px;
}

p{
    justify-self: start;
    gap: 10px;
}

.recherche {
    display: flex;
    justify-content: center;
    background-color: #E9E9E9;
    border-top-style: groove;

}
.information {
    text-align: center;
    background-color: #f1f1f1;
    width: 100%;
    height: 250px;
    padding-bottom: 30px;
    padding-top: 16px;
    margin-bottom: 50px;
}

.p-information{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 12px;
    font-size: 17px;

}

.recherche h3 {
    
    font-size: 18px;
    font-weight: 500;
}

.navigation{
    padding-left: 10px;
}

.navigation-accueil{
    padding-left: 20px;
    font-size: 23px;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    border-radius: 56px;
    margin: 30px 20px 60px 35px; 
}

.resto h3 {
    padding-top: 50px;
    padding-left: 26px;
    padding-bottom: 20px;
    margin-bottom: -65px;
    font-size: 23px;
}
.fonctionnement div{
    display: flex;
    align-items: center;
   /* margin: 0 2px 0 15px;*/
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    font-size: 14px;
    font-weight: bold;
    width: auto;
    height: 70px;
    margin-bottom: 15px;
   /* padding-right: 10px;*/
   padding-left: 50px;
    cursor: pointer;
    
}

.fonctionnement div span.circle {
    background: #8457D7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
    margin-right: 30px;
    margin-left: -70px;
    text-align: center;
    width: 30px;
    height: 30px;
  }


  .fonctionnement div i{
    
   padding-right: 25px;
   color:gray
    
    
}
.deguste{
    background-color: #F2ECFE !important;
    border: 3px solid #F2ECFE !important;
}

.deguste i{
    color: #8457D7 !important;
}

.mylist {
    display: block;
    text-align: center;
    float: left;
    margin-left: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color:#8457D7;
}

.box{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    
}

.button {
    background-color: #C66ED6; 
    border: none;
    color: white;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/*--menu-animations*/

.chip {
    display: flex;
    flex-direction: column;
    line-height: 0px;
    margin: 0px 10px 5px 10px;
    padding: 2px 10px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}



.d1{
    animation-name: affichage;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.d2{
    animation-name: affichage;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.d3{
    animation-name: affichage;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

@keyframes affichage {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*--main-menu--*/

.resto{
    background-color:#F6F6F6;
    margin-bottom: 70px;
}


.RestaurantsMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    margin-bottom: 70px;
    margin-top: 60px;
    gap: 20px;
}

.detailsRestaurants i:hover{
    color: #8457D7 !important;
}


.info{
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.RestaurantsImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  

}
.box-img-restaurants{
    flex-wrap: nowrap;
    align-items: center;
    width: 330px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.RestaurantsImages img{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 180px;
    width: 330px;
    object-fit: cover;
}
.p-size{
    font-weight: bold;
    width: 150px;
}

.detailsRestaurants i{
    float: right;
    margin-right: 25px;
    margin-top: -5px;
    color: darkgrey;
}

.detailsRestaurants{
   margin: 5px;
   align-content: center;

}

.detailsRestaurants-menu{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.detailsRestaurants-locale{
    margin-top: 10px;
    margin-left: 10px;
}

.info-nouveau{
    position: relative;
    top: -213px;
    left: 239px;
    width: 80px;
    height: 32px;
    font-weight: bolder;
    background-color: #99E2D0;
    border-color: transparent;
    color: #4f9270;
}

.box-img-restaurants .detailsRestaurants h5{
    font-size: small;
    padding-left: 10px;
}

.box-img-restaurants .detailsRestaurants span{
    display: inline-block;
}

.button-commander{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

footer{
    position: relative;
    height: 220px;
    left:0;
    right: 0;
    bottom: 0px;
    background-color: #383838;
}
footer h1 {
    color: white;
    font-family: 'Shrikhand';
    font-weight: 100;
    padding-top: 25px;
    padding-left: 40px;
    font-size: 18px;
    margin-left: -15px;
}
footer ul{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -15px;
}

footer ul i{
    margin-right: 10px;
}

/*menu*/

.navigation{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 5px;
}

.menu-icon{
    margin-left: 30px;
}

.arrow{
    position: relative;
    top: 19px;
    left: 19px;
}

/*--menu options--*/

.options{
    text-decoration-line: underline;
    text-underline-offset: 0.3em;
    text-indent: 15px;
    text-decoration-color: aquamarine;
    text-decoration-thickness: 0.2em;
}

.menu-info{
    font-size: 15px;
    position: relative;
    top: -5px;
}

.menu-price{
    position: relative;
    top: -20px;
    left: 295px;
}

.menu-options{
    font-size: 30px;
}

h2{
    color: #000;
    font-family: 'Shrikhand';
    font-weight: 100;
    position: relative;
    left: -10px;
}
h4{
    color: black;
    font-size: initial;
    font-weight: bold;
}

.menu {
    width: 100%;
    height: 300px;
    object-fit: cover;
    left: -60px ;

}

.menubody {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    gap: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 5px;
    top: -60px;
    position: relative;
    animation: opac 1s;
}

.check-mark-icon{
    position: absolute;
    top: 30px;
    left: 23px;
    color: white;
}

.chip .check-mark-icon:hover{
    position: absolute;
    background-color: aquamarine;
    height: 76px;
    width: 65px;
    top: 341px;
    left: 300px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    animation: selector 3s;
    cursor: pointer;
}

@keyframes selector{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.francaiseicon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
    align-items: center;

}

/*---footer---*/

.footericon{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
    
}